config.yaml
# Forks should change theirs based off the one already here, this file will be updated when appropriate.
rowboat/constants.py
rowboat-*.json
*.pyc
*.log
ssl

# Junk
*/*.DS_Store
.idea/**
.data
__pycache__
.vscode

# Environments
src
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Prevent forks from spawning too easily.
start.json5