config.yaml
# Forks should change theirs based off the one already here, this file will be updated when appropriate.
rowboat/constants.py
rowboat-*.json
*.pyc
*.log

# Junk
*/*.DS_Store
.idea/**
.data
__pycache__
.vscode
node_modules
.pnp.*

# Environments
src
!frontend/src
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Prevent forks from spawning too easily.
start.json5

# Keep this for a little bit...
frontendlegacy