arrow==0.15.4
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
click==7.0
cssselect==1.1.0
dill==0.3.1.1
-e git+https://github.com/b1naryth1ef/disco.git#egg=disco-py
#disco-py==0.0.12
#git+https://github.com/elderlabs/disco@rowboat-py2#egg=disco-py
Distance==0.1.3
emoji==0.5.4
Earl-ETF==2.1.2
Flask==0.12.4
greenlet==0.4.15
httplib2==0.14.0
humanize==1.0.0
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.5.0
markovify==0.8.0
MarkupSafe==1.1.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
packaging==20.1
Pillow==7.0.0
ply==3.11
protobuf==3.11.3
psycogreen==1.0.1
psycopg2==2.8.4
pycparser==2.19
pyparsing==2.4.6
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
sentry-sdk==0.14.1
svg.charts==6.1
redis==3.4.1
regex==2020.2.18
requests-oauthlib==1.3.0
ruamel.yaml==0.16.5
tinycss==0.4
typing==3.7.4.1
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.22
Werkzeug==1.0.0
wheel==0.34.2
xxhash==1.4.3
fuzzywuzzy==0.18.0
pytest==5.3.5
python-Levenshtein==0.12.0
peewee==3.13.1
gevent_inotifyx==0.2
datadog==0.31.0
pynacl==1.3.0