-e git+https://github.com/elderlabs/betterdisco@v8/py3-testing#egg=disco-py
-e git+https://github.com/DeJayDev/holster#egg=holster
-e git+https://github.com/elderlabs/pygal#egg=pygal
-e git+https://github.com/wenmin-wu/dominant-colors-py#egg=dominantcolors
arrow==0.17.0
CairoSVG==2.5.0
click==7.1.2
dill==0.3.3
emoji==0.6.0
Earl-ETF==2.1.2
Flask==1.1.2
greenlet==0.4.17
humanize==3.1.0
markovify==0.8.3
oauthlib==3.1.0
Pillow==8.0.1
psycogreen==1.0.2
psycopg2-binary==2.8.6
pytz==2020.4
PyYAML==5.3.1
sentry-sdk==0.19.4
redis==3.5.3
regex==2020.11.13
requests-oauthlib==1.3.0
urllib3==1.26.2
Werkzeug==1.0.1
wheel==0.35.1
fuzzywuzzy==0.18.0
pytest==6.1.2
python-Levenshtein==0.12.0
peewee==3.14.0
gevent==20.9.0
gevent_inotifyx==0.2
datadog==0.39.0
pynacl==1.4.0
